html, body {
	color: white;
	font-family: sans-serif;
}

body {
	/*display: block;
	padding-left: 15px;
	padding-right: 15px;*/
}

body.window {
    background-color: #0a0a0a;
}

#main {
    background-image: url("../img/quivertrees_breuer_3000.jpg");
}

#result {
    font-family: monospace;
	height: 600px;
	width: 100%;
	background-color: rgba(70, 70, 70, 0.85);
	color: white;
	padding: 10px;
    font-size:1.1em;
    overflow: scroll;

	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;
}

label{
	width: 100%;
}

label b {
    color: white;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.8);
  border-right: 1.1em solid rgba(0, 0, 0, 0.8);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.8);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
